.contact{
    margin-top: 60px;
    padding-top: 2rem;
    padding-bottom: 10rem;
}


.contact-title{
    color: #0E2431;
    margin-top: 30px;
    text-align: left;
    justify-content: center;
    font-size: 1.5rem;
    margin-left: 15%;
    margin-right: 0%;
    font-weight: 600;
}
.contact-info{
    font-size: 1rem;
    margin-bottom: 5%;
    margin-left: 15%;
}
.loc-icon{
    margin-left: 15%;
    margin-right:2%;
    float:left;
}
.mail-icon{
    margin-left: 15%;
    margin-right:2%;
    float:left;
}
.fa-map-location-dot{
    box-shadow: 0 0 5px #888;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    vertical-align: middle;
    color: #03711e;
}
.fa-solid{
    box-shadow: 0 0 5px #888;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    vertical-align: middle;
    color: #0e0f57;
    
}
p{
    margin:0;
}
.loc-info{

    width: 20%;
    float:left;
}
.mail-info{
    float:left;
}
.info-label{
    font-weight: bold;
}
input[type=text],textarea {
    width: 100%;
    min-width: 200px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 20px;
}
  
input[type=submit] {
    background-color: #38393a;
    color: white;
    padding: 12px 20px;
    border: none;
    font-size: 25px;
    border-radius: 4px;
    cursor: pointer;
    -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
  
input[type=submit]:hover {
    background-color: #4e4f50;
    transform: all 0.5s ease;
}
  
  

.contact-image{
    height: auto;
    width: auto;
    max-width: 500px;
}

textarea{
    height: 250px;
}

label{
    font-size: 25px;
}

@media screen and (max-width:768px) {
    .contact-container{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
    }
    .contact-image{
        width: 350px;
    }
}
