
.projects {
    
    margin-top: 1rem;
    padding-top: 5rem;
    margin-bottom: 2rem;
    text-align: center;
    justify-content: left;
    margin-left: 15%;
    margin-right: auto;

}
.projects-label{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2%;
}
.projects-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
}
/* Desktop View */
@media screen and (min-width: 768px) {
    .projects-container{
        flex-direction: row;
        
    }
}

